/*
    Written by LeRepex
    Last updated: 29.08.2021
*/

h1 {
    color: white;
}

p {
    color: gray;
}

span {
    color: white;
}

label {
    color: gray;
}

.p-5 {
    margin-left: 20px;
    margin-right: 20px;
}

.pb-3 {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.fs-4 {
    margin-top: 10px;
    margin-left: 20px;
}